In [1]:
# display inline plots
%matplotlib inline

# import libraries for numerical and scientific computing
import numpy as np
import scipy as sp

# import matplotlib for plotting
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt

# import pandas for data wrangling and munging
import pandas as pd

# set some options for better view
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)

# import plotting library built on top of matplotlib
import seaborn as sns

# set some settings related to style of plots that will render
sns.set_style("whitegrid")
sns.set_context("poster")

In [4]:
# load training and test examples

loan_train = pd.read_csv('./data/train_u6lujuX.csv', index_col='Loan_ID')
loan_test = pd.read_csv('./data/test_Y3wMUE5.csv', index_col='Loan_ID')

In [5]:
# take a sneak peak at some of the examples
loan_train.head()

         Gender Married Dependents     Education Self_Employed  ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History Property_Area Loan_Status
Loan_ID
LP001002   Male      No          0      Graduate            No             5849                  0         NaN               360               1         Urban           Y
LP001003   Male     Yes          1      Graduate            No             4583               1508         128               360               1         Rural           N
LP001005   Male     Yes          0      Graduate           Yes             3000                  0          66               360               1         Urban           Y
LP001006   Male     Yes          0  Not Graduate            No             2583               2358         120               360               1         Urban           Y
LP001008   Male      No          0      Graduate            No             6000                  0         141               360               1         Urban           Y

In [6]:
# number of training examples
print 'Number of training examples {0} '.format(loan_train.shape[0])

Number of training examples 614

In [7]:
# number of test examples
print 'Number of test examples {0} '.format(loan_test.shape[0])

Number of test examples 367

In [8]:
# class distribution
loan_train.Loan_Status.value_counts()

Y    422
N    192
dtype: int64

** Most of the applications for loan were accepted. **

In [9]:
# encode {Y, N} -> {1, 0}
loan_train['Loan_Status'] = (loan_train.Loan_Status=='Y') * 1

In [90]:
%run scripts/model.py
%run scripts/helper.py

In [87]:
# create an instance of Base Model
base_model = BaseModel(loan_train, loan_test, 'Loan_Status')

In [88]:
# predictions from this model
baseline_predictions = base_model.predict()

In [91]:
# create submission
create_submissions(loan_test.index.values, baseline_predictions, 'baseline_submission.csv')